<header class="mb-16">
    <nav class="py-4">
        <ul class="flex justify-between uppercase font-medium text-sm text-transparent md:text-base">
            <li>
                <a class="silver hover:brightness-150" href="#">Contrate-nos</a>
            </li>
            <li>
                <a class="silver text-lg hover:brightness-150 md:text-xl " href="#">Empresa de Arquitetura</a>
            </li>
            <li>
                <a class="silver hover:brightness-150" href="#">Menu</a>
            </li>
        </ul>
    </nav>
</header>