---
import CheapButton from "../utils/CheapButton.astro";
import PortfolioCard from "../utils/PortfolioCard.astro";
---
<section class="mb-section">
    <h2 class="text-title mb-4">
        Projeto em destaque
    </h2>
    <div class="grid gap-8 mb-8 md:grid-cols-2">
        <p class="text-sm opacity-50">
            As nossas soluções inovadoras ajudaram a moldar o design arquitetónico moderno.
        </p>
        <aside class="flex flex-wrap gap-4 text-sm md:justify-items-end">
            <CheapButton>
                Negócio
            </CheapButton>
            <CheapButton>
                Residencial
            </CheapButton>
            <CheapButton>
                Hotelaria
            </CheapButton>
        </aside>
    </div>
    <div class="h-[40rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4 lg:grid-rows-2 [&>*]:overflow-hidden">
        <div class="w-full h-full lg:col-span-2">
            <PortfolioCard src="/public/images/buildings/arch_01.png" alt="some building" title="Edifício Norte"/>
        </div>
        <div class="w-full h-full lg:row-span-2">
            <PortfolioCard src="/public/images/buildings/arch_02.png" alt="some building" title="Edifício"/>
        </div>
        <div class="w-full h-full lg:row-span-2">
            <PortfolioCard src="/public/images/buildings/arch_03.png" alt="some building" title="Edifício Principal"/>
        </div>
        <div class="w-full h-full lg:col-span-2">
            <PortfolioCard src="/public/images/buildings/arch_04.png" alt="some building" title="Edifício Oeste"/>
        </div>
    </div>
</section>