<section class="mb-section grid gap-4 md:grid-cols-2 md:gap-12">
    <h2 class="text-title">Somos o seu parceiro na construção de um legado.</h2>
    <p class="neutral-100 opacity-50 text-sm md:text-base">
        Com paixão e dedicação, ajudamos a transformar a sua visão em realidade 
        e a superar qualquer desafio técnico e de engenharia, sem dúvida.
    </p>
</section>